.accordion {

  &:not(.active) {
    .accordion__content {
      height: 0!important;
    }
  }

  .accordion__trigger {
    display: inline-block;
    user-select: none;
  }

  .accordion__content {
    overflow: hidden;
    transition: height linear $transitionTime;
  }

}
