.checkbox {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    display: none;

    &.validation-error {

      & + span::before {
        border: 1px solid $color-ui-red;
      }

      & ~ .validation-error-message {
        display: block;
      }

    }

    &.validation-success {

      + span::before{
        border: 1px solid $color-ui-green;
      }

    }

    & ~ .validation-error-message {
      display: none;
      color: $color-ui-red;
    }

  }

  span {
    display: block;
    margin-left: 25px;
    min-height: 20px;
    padding-top: 2px;
    cursor: pointer;
    @include none-select();

    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      height: 20px;
      width: 20px;
      border: 1px solid $color-grey;
      cursor: pointer;
      border-radius: 3px;
      content: "";
    }

    &::after {
      display: block;
      position: absolute;
      left: 3px;
      top: 7px;
      height: 14px;
      width: 14px;
      cursor: pointer;
      background: transparent;
      border-radius: 3px;
      content: "";
    }

  }

  input:checked + span::after {
    background: $color-grey;
  }

}
