@use '../abstracts' as *;

.cookie-consent {
    display: none;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: $color-white;
    border-top: 1px solid $color-bordergrey;
    z-index: $z-index-10;

    &--show {
        display: block!important;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
}