@use '../abstracts' as *;

.modalbox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.5);
  color: $color-white;
  z-index: $z-index-10;
  box-shadow: 0 0 2000px 2000px rgba(0,0,0,0.3);

  &.show {
    display: block;
  }

}
