@use '@styles/utils' as *;

.selectbox {

    .ts-control {
        background: transparent;
        border: 1px solid var(--color-border-grey);
        border-radius: 0;
    }
    .ts-dropdown {
        margin: 0;
    }
}