---
import '@styles/modules/_content-accordion.scss';
import Accordion from '@components/partials/Accordion.astro';
import AccordionGroup from '@components/partials/AccordionGroup.astro';

const accordionSettings = {
    duration:                               400,
    showMultiple:                           false,
    openFirstAccordionInitially:            true
}

const accordionSettingsJSON = JSON.stringify(accordionSettings);
---

<div class="content-accordion">
    <div class="grid-wrap">
        <AccordionGroup accordionSettings={accordionSettingsJSON}>
            <Accordion title="1. Title">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <figure>
                    <picture>
                        <source media="(min-width: 450px)" srcset="https://placehold.co/978x489">
                        <source srcset="https://placehold.co/450x289">
                        <img src="https://placehold.co/978x489" alt="alt" loading="lazy">
                    </picture>
                </figure>
            </Accordion>
            <Accordion title="2. Title">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </Accordion>
        </AccordionGroup>
    </div>
</div>