---
import '../../styles/modules/_gallery-slider.scss';
import Modalbox from "../partials/Modalbox.astro";
import Slider from "../partials/Slider.astro";

const sliderSettings = {
    loop: true,
    speed: 500,
    slidesPerView: 1,
    autoplay: {
        delay: 6000
    },
    breakpoints: {
        768: {
            slidesPerView: 2
        }
    }
}

const sliderSettingsJSON = JSON.stringify(sliderSettings);
---

<div class="gallery-slider">
    <div class="grid-wrap">
        <div class="w12">

            <Slider sliderSettings={sliderSettingsJSON}>
                <div class="swiper-slide">
                    <figure>
                        <picture>
                            <source srcset="https://placehold.co/978x489">
                            <img src="https://placehold.co/978x489" alt="alt" loading="lazy">
                        </picture>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <picture>
                            <source srcset="https://placehold.co/978x489">
                            <img src="https://placehold.co/978x489" alt="alt" loading="lazy">
                        </picture>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <picture>
                            <source srcset="https://placehold.co/978x489">
                            <img src="https://placehold.co/978x489" alt="alt" loading="lazy">
                        </picture>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <picture>
                            <source srcset="https://placehold.co/978x489">
                            <img src="https://placehold.co/978x489" alt="alt" loading="lazy">
                        </picture>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <picture>
                            <source srcset="https://placehold.co/978x489">
                            <img src="https://placehold.co/978x489" alt="alt" loading="lazy">
                        </picture>
                    </figure>
                </div>
            </Slider>

            <button data-open-modal="test1">Modalbox 1</button>
            <Modalbox id="test1" classes="my-modal">
                <h1>I am Modalbox 1</h1>
                <button data-close-modal>close it</button>
            </Modalbox>

            <button data-open-modal="test2">Modalbox 2</button>
            <Modalbox id="test2">
                <h1>Modalbox 2</h1>
                <button data-close-modal>close it</button>
            </Modalbox>

        </div>
    </div>
</div>