---
import '@styles/modules/_grid-example.scss';
---

<div class="grid-example">
    <div class="grid-wrap">
        <div class="w12">
            <h1>Welcome to Tempo Run</h1>
            <h2>Grid example</h2>
        </div>
        <div class="w12 mw12">w12 mw12</div>
        <div class="w12 mw6">w12 mw6</div>
        <div class="w12 mw6 mw-left-6">w12 mw6 mw-left-6</div>
        <div class="w6 mw4">w6 mw4</div>
        <div class="w6 mw4">w6 mw4</div>
        <div class="w6 mw4">w6 mw4</div>
    </div>
</div>