/* -------------------------------------------------------- */
/*                     GLOBAL STYLES                        */
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/*                 ESSENTIALS AND UTILS                     */
/* -------------------------------------------------------- */

@use "essentials/_reset";
@use "essentials/_general";
@use "essentials/_grid";
@use "essentials/_print";
@use "essentials/_colors-to-css";

/* -------------------------------------------------------- */
/*                         BASE                             */
/* -------------------------------------------------------- */

@use "base/_site-header";
@use "base/_site-footer";

/* -------------------------------------------------------- */
/*                       PARTIALS                           */
/* -------------------------------------------------------- */

@use "partials/_modalbox";
@use "partials/_checkbox";
@use "partials/_radiobox";
@use "partials/_selectbox";
@use "partials/_form";

/**
        you may import styles for partials inside astro components if it is not global
 */

/* -------------------------------------------------------- */
/*                     MODULES/SLICES                       */
/* -------------------------------------------------------- */

/**
        import styles for modules inside astro components
 */