/* -------------------------------------------------------- */
/*        CONFIG DATA . FONTS, GENERALS and VARIABLES       */
/* -------------------------------------------------------- */

@use "sass:list";
@use "sass:math";

/* -------------------------------------------------------- */
/*                   SET UP VIEWPORTS                       */
/* -------------------------------------------------------- */

  $viewports: (
          w:  0px,        /* mobile viewports starts here */
          sw: 480px,
          mw: 768px,      /* tablet viewports starts here */
          lw: 1280px,     /* desktop viewports starts here */
          xlw: 1440px
  );


/* -------------------------------------------------------- */
/*              GET THE VIEWPORTS AS STRING                 */
/* -------------------------------------------------------- */

  $viewportsString: "";

  @each $current-viewport,  $current-viewportwidth in $viewports {
    $viewportsString: $viewportsString + $current-viewport + ":" + $current-viewportwidth + ",";
  }


/* -------------------------------------------------------- */
/*                     DEFINE GRIDS                         */
/* -------------------------------------------------------- */

$grid: (
        w: (
                columns:                  12,
                column-gap:               10px,
                row-gap:                  0,
                wrap-outer-padding:       10px
        ),
        sw: (
                columns:                  12,
                column-gap:               10px,
                row-gap:                  0,
                wrap-outer-padding:       10px
        ),
        mw: (
                columns:                  12,
                column-gap:               30px,
                row-gap:                  0,
                wrap-outer-padding:       20px
        ),
        lw: (
                columns:                  24,
                column-gap:               30px,
                row-gap:                  0,
                wrap-outer-padding:       20px
        ),
        xlw: (
                columns:                  24,
                column-gap:               30px,
                row-gap:                  0,
                wrap-outer-padding:       20px
        )
);

  $grid-wrap-max-width:           1440px;

/* -------------------------------------------------------- */
/*                 COLORSCHEME, DO IT!                      */
/* -------------------------------------------------------- */

  // GENERAL COLORS
  $color-white:                  #FFF;
  $color-lightgrey:              #f9f9f9;
  $color-grey:                   #b7b8bb;
  $color-darkgrey:               #6d6d6d;
  $color-bluegrey:               #c1cacc;
  $color-bluegrey2:              #a8b5b7;
  $color-redgrey:                #e9e4e2;
  $color-bordergrey:             #e6e7ea;
  $color-black:                  #000;

  $color-ui-green:               #B0C717;
  $color-ui-red:                 #C10D00;

  // THEME COLORS
  $color-theme-orange:              #df6a42;

  // SOCIAL COLORS
  $color-social-facebook:        #3b5999;
  $color-social-twitter:         #55acee;
  $color-social-youtube:         #CD201F;
  $color-social-pinterest:       #af0921;
  $color-social-instagram:       #c6c6c6;

  // SOCIAL COLORS ON HOVER
  $color-social-facebook-hover:  #364d85;
  $color-social-twitter-hover:   #5292be;

  // BACKGROUND COLORS
  $color-mainbackground:         #FFF;


/* -------------------------------------------------------- */
/*               GET FONT AND SET REM FUNCTION              */
/* -------------------------------------------------------- */

  $font-size-main:			    16px;

  // GET REM FONTSIZE
  @function rem($font-size) {
    $remSize: math.div($font-size, $font-size-main);
    @return $remSize * 1rem;
  }


/* -------------------------------------------------------- */
/*                     FONT CONFIGS                         */
/* -------------------------------------------------------- */


  $font-size-desktop:			                rem(20px);
  $font-size-tablet:			                rem(20px);
  $font-size-mobile:			                rem(14px);

  $font-line-height-default-mobile:	            1.71;
  $font-line-height-default-tablet:	            1.5;
  $font-line-height-default-desktop:	        1.5;

  $font-letter-spacing:                         0;

  $headline-line-height-mobile:           1.38;
  $headline-line-height-tablet:           1.28;
  $headline-line-height-desktop:          1.2;

  $font-size-h1-mobile:			              rem(35px);
  $font-size-h2-mobile:			              rem(26px);
  $font-size-h3-mobile:			              rem(18px);
  $font-size-h4-mobile:			              rem(17px);
  $font-size-h5-mobile:			              rem(16px);
  $font-size-h6-mobile:			              rem(14px);

  $font-size-h1-tablet:			              rem(50px);
  $font-size-h2-tablet:			              rem(36px);
  $font-size-h3-tablet:			              rem(24px);
  $font-size-h4-tablet:			              rem(22px);
  $font-size-h5-tablet:			              rem(21px);
  $font-size-h6-tablet:			              rem(20px);

  $font-size-h1-desktop:		              rem(70px);
  $font-size-h2-desktop:		              rem(50px);
  $font-size-h3-desktop:		              rem(24px);
  $font-size-h4-desktop:		              rem(22px);
  $font-size-h5-desktop:		              rem(21px);
  $font-size-h6-desktop:		              rem(20px);

  $font-weight-light:			              300;
  $font-weight-normal:			              400;
  $font-weight-medium:		                  500;
  $font-weight-semibold:		              600;
  $font-weight-bold:			              700;

  $font-family:			                      'Barlow', serif, sans-serif;
  $font-family-monospace:		              Consolas, "Lucida Console", Monaco, monospace;

  // FONT COLORS
  $font-color:                                $color-black;

  // LINK STYLES
  $font-link-color:				              $color-theme-orange;
  $font-link-color-hover:		              $color-theme-orange;
  $font-text-decoration:		              none;

  $transitionTime:                            0.3s;

  $headline-padding:                          5px;
  $text-paragraph-padding:                    5px;
  $list-element-padding:                      5px;

/* -------------------------------------------------------- */
/*                  Z-INDEX LEVEL RANKING                   */
/* -------------------------------------------------------- */

  $z-index-0:                     1;
  $z-index-1:                     100;
  $z-index-2:                     200;
  $z-index-3:                     300;
  $z-index-4:                     400;
  $z-index-5:                     500;
  $z-index-6:                     600;
  $z-index-7:                     700;
  $z-index-8:                     800;
  $z-index-9:                     900;
  $z-index-10:                    999;
