/* -------------------------------------------------------- */
/*                 GRID BASEMENT CLASSES                    */
/* -------------------------------------------------------- */

.grid-wrap {
  @include flex(row, wrap);
  position: relative;
  width: 100%;
  max-width: $grid-absolute-site-width;
  min-height: 10px;
  margin: 0 auto;
  padding: 0 $grid-wrapper-outer-padding 0;
  z-index: $z-index-1;

  &.grid-wrap--left {
    justify-content: flex-start;
  }

  &.grid-wrap--right {
    justify-content: flex-end;
  }
}

@each $current-viewport,  $current-viewportwidth in $viewports {

  @if $current-viewportwidth == 0px {
    @for $i from 1 through $grid {
      .#{$current-viewport}#{$i} {
        width: grid-size($i);
        margin: 0 $grid-margin;
        flex-shrink: 0;
      }

      .#{$current-viewport}-left-#{$i} {
        margin-left: grid-size($i) + (3 * $grid-margin)!important;
      }

      .#{$current-viewport}-right-#{$i} {
        margin-right: grid-size($i) + (3 * $grid-margin)!important;
      }

    }

    .#{$current-viewport}-full {
      width: 100%;
    }

    .#{$current-viewport}-left-0 {
      margin-left: $grid-margin!important;
    }

    .#{$current-viewport}-right-0 {
      margin-left: $grid-margin!important;
    }

    .#{$current-viewport}-hidden {
      display: none;
    }

  } @else {

    @media screen and (min-width: $current-viewportwidth) {

      @for $i from 1 through $grid {
        .#{$current-viewport}#{$i} {
          width: grid-size($i);
          margin: 0 $grid-margin;
          flex-shrink: 0;
        }

        .#{$current-viewport}-left-#{$i} {
          margin-left: grid-size($i) + (3 * $grid-margin)!important;
        }

        .#{$current-viewport}-right-#{$i} {
          margin-right: grid-size($i) + (3 * $grid-margin)!important;
        }

      }

      .#{$current-viewport}-full {
        width: 100%;

      }

      .#{$current-viewport}-left-0 {
        margin-left: $grid-margin!important;
      }

      .#{$current-viewport}-right-0 {
        margin-left: $grid-margin!important;
      }

      .#{$current-viewport}-hidden {
        display: none;
      }

      .#{$current-viewport}-visible {
        display: block;
      }

    }

  }

}
