.gmap {
  .vue-map-container {
    width: 100%;
    height: 300px;
  }
}

@include viewport(mw){

  .gmap {
    .vue-map-container {
      height: 400px;
    }
  }

}

@include viewport(lw){

  .gmap {
    .vue-map-container {
      height: 543px;
    }
  }

}
