---
import Layout from '../layouts/Layout.astro';
import Card from '../components/modules/ContentAccordion.astro';
import ContentAccordion from "../components/modules/ContentAccordion.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<ContentAccordion/>
	</main>
</Layout>


