---
import Layout from '../layouts/Layout.astro';
import ContentAccordion from '../components/modules/ContentAccordion.astro';
import GallerySlider from '../components/modules/GallerySlider.astro';
import GridExample from "../components/modules/GridExample.astro";
import FormExample from "../components/modules/FormExample.astro";
---

<Layout title="Welcome to Astro.">
	<main>
        <GridExample/>
        <FormExample/>
		<ContentAccordion/>
        <GallerySlider/>
	</main>
</Layout>


