---
import Layout from '@layouts/Layout.astro';
import GoogleMaps from "@components/partials/GoogleMaps.astro";
---
<Layout title="Subpage">
    <div class="grid-wrap">
        <div class="w12">
            <h1>Subpage</h1>
        </div>
    </div>
    <GoogleMaps/>
</Layout>


