---
import 'accordion-js/dist/accordion.min.css';
import '@styles/partials/_accordion.scss';

const {accordionSettings = ''} = Astro.props;
---

<div class="accordion-group accordion-container w12" data-js="accordion-group" data-accordion-settings={accordionSettings}>

    <slot />

</div>

<script>
    import Accordion from 'accordion-js';

    const accordionGroup = {

        vars: {

            moduleQuery:                                '*[data-js=accordion-group]',
            settingsAttribute:                          'data-accordion-settings'

        },

        init(){

            accordionGroup.startScript();

        },

        startScript(){

            const $accordionGroups = document.querySelectorAll(accordionGroup.vars.moduleQuery);

            for(const $accordionGroup of $accordionGroups){

                let accordionOptions = $accordionGroup.getAttribute(accordionGroup.vars.settingsAttribute);
                accordionOptions = JSON.parse(accordionOptions);

                const theAccordionGroup = new Accordion($accordionGroup, accordionOptions);

                if(accordionOptions.openFirstAccordionInitially){
                    theAccordionGroup.open(0);
                }


            }

        }
    }

    accordionGroup.init();

</script>