---
import 'accordion-js/dist/accordion.min.css';
import '@styles/partials/_accordion.scss';

const {accordionSettings = ''} = Astro.props;
---

<div class="accordion-group accordion-container" data-js="accordion-group" data-accordion-settings={accordionSettings}>

    <slot />

</div>

<script>
    import {accordionGroup} from "@scripts/partials/accordion-group";

    accordionGroup.init();
</script>