---
import '@styles/partials/_cookie-consent.scss';
---

<div class="cookie-consent" data-js="cookie-consent" style="display: none;">
    <div class="grid-wrap">
        <div class="cookie-consent__wrapper w12">
            Cookie

            <button data-cookie-consent-accept-all>Accept all cookies</button>
            <button data-cookie-consent-accept-technical>Accept technical cookies</button>

        </div>
    </div>
</div>

<script>
    import {cookieConsent} from "@scripts/partials/cookie-consent";

    cookieConsent.init();
</script>