---
import '@styles/partials/_google-maps.scss';
---

<div class="google-maps" data-js="google-maps" style="display: none;"></div>

<script>
    import { getCookieValueOf } from "@scripts/utils/cookies";
    import {googleMaps} from "@scripts/partials/google-maps";

    if(getCookieValueOf(googleMaps.vars.requiredCookieName)){

        googleMaps.init();

    }
</script>