---
const {id = '', classes = ''} = Astro.props;
const className = `modalbox ${id} ${classes}`;
---

<div class={className} data-js="modalbox" style="display: none;">

    <div class="modalbox__wrapper">

        <slot/>

    </div>

</div>


<script>
    import {modalbox} from "@scripts/partials/modalbox";

    modalbox.init();
</script>