---
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';

const {sliderSettings = ''} = Astro.props;
---
<div class="swiper" data-js="slider" data-slider-settings={sliderSettings}>

    <div class="swiper-wrapper">

        <slot />

    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>

</div>

<script>
    import {slider} from "@scripts/partials/slider";

    slider.init();
</script>