---
import CookieConsent from "@components/partials/CookieConsent.astro";
---

<footer class="site-footer">
    <div class="grid-wrap">
        <div class="w12">Footer Astro 4</div>
        <button data-reject-cookie-settings>Reject cookie settings</button>
    </div>
</footer>

<CookieConsent/>