@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*           BASE . THE BASEMENT OF YOUR STYLE              */
/* -------------------------------------------------------- */

body {
    background: var(--color-main-background);
    font-size: $font-size-mobile;

    /* Hidden Element to transfer Mediaquerys in JS */
    &::before {
        display: none;
        content: "" + $viewports-string;
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity $transition-time;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

/* -------------------------------------------------------- */
/*                     FONT BASEMENT                        */
/* -------------------------------------------------------- */

html {
    font-size: $font-size-main;
    color: var(--color-font);
    font-family: $font-family;
    line-height: $font-line-height-default-mobile;
    font-weight: $font-weight-normal;
    letter-spacing: $font-letter-spacing;

    /* Hidden Element for Old Browsers */
    .oldBrowserWarning {
        display: none;
    }

}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    display: block;
    padding: $headline-padding 0;
    line-height: $headline-line-height-mobile;
    font-weight: $font-weight-bold;
    text-wrap: balance;

    a,
    strong {
        display: inline;
        position: static;
        color: inherit;
        font-weight: inherit;
        line-height: inherit;
        font-size: inherit;
    }
}

h1,.h1{
    font-size: $font-size-h1-mobile;
}
h2,.h2{
    font-size: $font-size-h2-mobile;
}
h3,.h3{
    font-size: $font-size-h3-mobile;
}
h4,.h4{
    font-size: $font-size-h4-mobile;
}
h5,.h5{
    font-size: $font-size-h5-mobile;
}
h6,.h6{
    font-size: $font-size-h6-mobile;
}

/* -------------------------------------------------------- */
/*                  A-TAG / LINK BASEMENT                   */
/* -------------------------------------------------------- */

a, .link {
    color: var(--color-links);
    text-decoration: $font-text-decoration;
    cursor: pointer;
    transition: all $transition-time ease;
    &:hover, &:active {
        color: var(--font-link-color-hover);
    }
}

/* -------------------------------------------------------- */
/*              BUTTON-TAG / BUTTON BASEMENT                */
/* -------------------------------------------------------- */

button, .button {
    display: inline-block;
    padding: 8px 24px;
    margin: 0;
    background: var(--color-black);
    color: var(--color-white);
    font-size: get-rem(20px);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all $transition-time ease;
    border-radius: 0;
    font-weight: $font-weight-bold;

    &[disabled]{
        opacity: 0.5;
    }

    &:not([disabled]){
        &:hover, &:active {
            background: var(--color-dark-grey);
            color: var(--color-white);
        }
    }
}

/* -------------------------------------------------------- */
/*              FORM-TAG / INPUT BASEMENT                */
/* -------------------------------------------------------- */

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], textarea {
    display: inline-block;
    width: 100%;
    padding: 6px 6px;
    margin: 5px 0;
    background: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-border-grey);
    transition: all $transition-time ease;

    &::placeholder {
        color: var(--color-font);
        opacity: 1;
    }

    /* Error class for the form validation */
    &.validation-error {
        border: 1px solid var(--color-ui-red);
        & ~ .validation-error-message {
            display: block;
        }
    }

    /* Success class for the form validation */
    &.validation-success {
        border: 1px solid var(--color-ui-green);
    }

    /* Error message class for the form validation */
    & ~ .validation-error-message {
        display: none;
        color: var(--color-ui-red);
    }

}

textarea {
    width: 100%;
}

/* -------------------------------------------------------- */
/*                    ELEMENT BASEMENT                      */
/* -------------------------------------------------------- */

p {
    display: block;
    padding: $text-paragraph-padding 0;
    text-wrap: pretty;
}

strong, b {
    font-weight: $font-weight-bold;
}

sup {
    font-size: .875rem;
    vertical-align: super;
    line-height: .875rem;
}

small {
    font-size: .875rem;
}

strike, del {
    text-decoration: line-through;
}

pre, code, kbd, samp {
    font-family: $font-family-monospace;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    padding: 10px;
    font-style: italic;
}

iframe {
    max-width:100%;
}

hr {
    display: block;
    height: 1px;
    margin: 5px 0;
    padding: 0;
    border: 0;
    background: var(--color-grey);
}

ul, ol {
    display: block;
    padding: $list-element-padding 0;
    li {
        position: relative;
        margin-left: 20px;
    }
}

/* -------------------------------------------------------- */
/*                    GENERALL CLASSES                      */
/* -------------------------------------------------------- */

.clear {
    clear: both;
}

/* -------------------------------------------------------- */
/*                  MARKERED TEXT STYLES                    */
/* -------------------------------------------------------- */

::selection {
    background: var(--color-black);
    color: var(--color-white);
    opacity: 1;
}

/* -------------------------------------------------------- */
/*                BASE MEDIAQUERYS MEDIUM                   */
/* -------------------------------------------------------- */

@include viewport(mw){
    html {
        line-height: $font-line-height-default-tablet;

        body {
            font-size: $font-size-tablet;
        }

    }

    .site-main {
        margin-top: 105px;
    }

    h1,.h1,
    h2,.h2,
    h3,.h3,
    h4,.h4,
    h5,.h5,
    h6,.h6 {
        line-height: $headline-line-height-tablet;
    }

    h1,.h1{
        font-size: $font-size-h1-tablet;
    }
    h2,.h2{
        font-size: $font-size-h2-tablet;
    }
    h3,.h3{
        font-size: $font-size-h3-tablet;
    }
    h4,.h4{
        font-size: $font-size-h4-tablet;
    }
    h5,.h5{
        font-size: $font-size-h5-tablet;
    }
    h6,.h6{
        font-size: $font-size-h6-tablet;
    }

}

/* -------------------------------------------------------- */
/*                BASE MEDIAQUERYS LARGE                    */
/* -------------------------------------------------------- */

@include viewport(lw){
    html {
        line-height: $font-line-height-default-desktop;

        body {
            font-size: $font-size-desktop;
        }

    }

    h1,.h1,
    h2,.h2,
    h3,.h3,
    h4,.h4,
    h5,.h5,
    h6,.h6 {
        line-height: $headline-line-height-desktop;
    }

    h1,.h1{
        font-size: $font-size-h1-desktop;
    }
    h2,.h2{
        font-size: $font-size-h2-desktop;
    }
    h3,.h3{
        font-size: $font-size-h3-desktop;
    }
    h4,.h4{
        font-size: $font-size-h4-desktop;
    }
    h5,.h5{
        font-size: $font-size-h5-desktop;
    }
    h6,.h6{
        font-size: $font-size-h6-desktop;
    }

}
