@use '../abstracts' as *;

/* -------------------------------------------------------- */
/*             PRINT . STYLES FOR PRINT DESIGN              */
/* -------------------------------------------------------- */


@media print {

    html, body, div, a, span, object, iframe, h1, h2, h3, h4, h5, h6, p, input, svg, blockquote, main, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
        background: transparent !important;
        color: $color-black!important;
        text-shadow: none !important;
        box-shadow: none !important;
        opacity: 1 !important;
    }

    body {
        width:100% !important;
        margin:0 !important;
        padding:0 !important;
        line-height: 1.35!important;
        font-size: 13pt;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        orphans: 3;
        widows: 3;
    }

    h1 {
        font-size: 24pt;
    }

    h2, h3, h4 {
        font-size: 16pt;
        margin-top: 25px;
    }

    h5, h6 {
        font-size: 14pt;
        margin-top: 25px;
    }

    ul {
        list-style: disc inside;
        padding: 0 1em;
    }

    ol {
        list-style: decimal inside;
        padding: 0 1em;
    }

    a,
    a:visited {
        color: $color-black !important;
        text-decoration: none !important;
    }

    a[href="#"],
    a[href="javascript:"] {
        display: none;
    }

    a[href^=http]:after {
        content:" <" attr(href) "> ";
    }

    table {
        margin: 1px;
    }

    thead {
        display: table-header-group;
    }

    img,
    tr {
        page-break-inside: avoid;
    }

    .navigation,
    iframe,
    .site-navigation,
    .site-footer {
        display: none!important;
    }

    .accordion {
        .accordion-content {
            height: auto!important;
            overflow: auto!important;
        }
        &:not(.active) .accordion-content {
            height: auto!important;
            overflow: auto!important;
        }
    }

    input[type=search] {
        display: none!important;
    }

    img {
        &.v-lazy-image {
            &:not(.v-lazy-image-loaded) {
                display: none!important;
            }
        }
    }

}

@page {
    margin: 2cm;
}
